@model List<FotKlubb.Models.LocationModel.PositionModel>
<h2> Kamp lokasjon registrert </h2>

<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

</head>

<table class="table table-sortable">
	<thread>
		<tr>
			<th> Dato</th>
			<th> Melding ID</th>
			<th> GeoJson </th>
			<th> Beskrivelse </th>
		</tr>
	</thread>
	<tbody>
		@foreach (var tableElements in Model)
		{
			<tr>
				<td>@tableElements.Date</td>
				<td>@tableElements.InterractorId</td>
				<td>@tableElements.GeoJson</td>
				<td>@tableElements.Description</td>
			</tr>
		}

	</tbody>

</table>
<div id="map" style="height: 400px;"></div>


<script>
	var geoChanges = @Json.Serialize(Model); //convert the asp.net Model into json, so js can work with it
</script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="~/js/ShowLocation.js"></script>

